html, body, main {
    height: 100%;
}

body{
    background-image: url(../tic-tac-toe/1614640188_23-p-abstraktnii-fon-dlya-fotoshopa-30.jpg);
    background-position: center center;
    background-size: cover;
    font-family: 'Jura', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main a{
    height: 20px;
    width: 20%;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    border: 3px solid rgb(223, 14, 112);
    cursor: pointer;
}

#game{
    margin: auto;
    width: 500px;
    height: 500px;
    text-align: center;
}

main h1{
    color: white;
}

#board{
    width: 300px;
    height: 300px;
    margin: auto;
}

.cell{
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    border: 1px solid red;
    font-size: 70px;
    box-sizing: border-box;
}

.new-game-btn{
    font-family: 'Jura', sans-serif;
    margin-top: 20px;
    font-size: 20px;
    background-color: white;
    border: 3px solid rgb(223, 14, 112);
    font-weight: border;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}