body{
    margin: 0;
}

.container{
    width: 95%;
    margin: 0 auto;
}

.header{
    background-color: bisque;
    padding: 20px 0;
    height: 70px;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation li{
    display: inline;
    margin-right: 10px;

}

.navigation li:last-child{
    margin-right: 0;
}