body{
    text-align: center;
    margin: 0;
}
.header{
    background-color: black;
    padding: 20px;
}
.main{
    max-width: 75%;
    margin: 0 auto;
    text-align: left;
}
.main a{
    color:white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px 0;
   
}
.group{
    max-width: 75%;
    margin: auto;
}
.form-group{
    margin: 10px 10px;
}
.form-group input{
    margin: 5px 5px;
}
.form-auth{
    margin: 8px 8px;
}