body{
    background-color: white;
    background-image: none;
}
.page-content-jedi{
    padding:20px;
}

.jedi-flex{
    display: flex;
    gap: 40px;
    width:95%;
}

.jedi-list{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
.jedi-card{
    width:500px;
    height: 350px;
    border: 2px solid black;
    margin-top: auto;
    display: flex;
}
.jedi-image{
    flex-basis: 50%;
    overflow: hidden;
    padding: 5px;
}

.jedi-image img{
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    width: 100%;
    height: auto;
}
.jedi-name{
    flex-basis: 50%;
    padding: 10px;
    text-align: justify;
    border-left: 2px solid red;
}