body{
    background-color: white;
    background-image: none;
}

.theme{
    border: 4px solid rgb(7, 189, 7);
    border-radius: 4px;
    text-align: center;
    max-width: 50%;
    margin: auto;
}

.theme p{
    font-size: 1.4rem;
    font-weight: 900;
}

.page-content-jedi{
    padding:20px;
}

.jedi-flex{
    display: flex;
    gap: 40px;
    width:95%;
}

.jedi-list{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.jedi-card{
    width:500px;
    height: 350px;
    border: 4px solid rgb(7, 189, 7);
    margin-top: auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.jedi-image{
    box-sizing: border-box;
    height: 100%;
    flex-basis: 50%;
    margin: auto;
    padding: 5px;
    background-color: rgb(241, 226, 159);
    overflow: hidden;
}

.jedi-image img{
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.img-Yoda{
    margin-top: 26px;
    margin-bottom: 26px;
}

.img-Plo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-Quigon{
    margin-top: 10px;
    margin-bottom: 10px;
}

.jedi-name{
    box-sizing: border-box;
    height: 100%;
    flex-basis: 50%;
    padding: 5px;
    text-align: justify;
    background-color: rgb(241, 226, 159);
}

.jedi-name header{
    font-size: 1.2rem;
    font-weight: 900;
}

.jedi-name p{
    margin: 10px 0 10px 0;
    font-size: 0.8rem;
}

@media(max-width: 768px){
    
    .jedi-flex{
        flex-direction: column;
        align-items: center;
    }

    .header{
        position: static;
    }

    .navigation{
        position: static;
    }

    .jedi-card{
        flex-direction: column;
        height: auto;
        width: 95%;
        max-width: 350px;
    }
}
