body{
    font-family: 'Jura', sans-serif;
}

.header {
    background-color: black;
    border-color: gold!important;
}

.header a{
    color: goldenrod;
}

.image-empire {
    height: auto;
    width: 350px;
}

.information {
    background-color: rgb(2, 2, 2);
    color: rgb(134, 6, 6);
    border-color: gold!important;
}

.information p{
    font-size: 20px;
}

.information h1{
    font-size: 45px;
}

.speciality {
    background-color: rgb(255, 255, 255);
    color: rgb(134, 6, 6);
    border-color: rgb(134, 6, 6)!important;
    font-size: 20px;
}

.speciality-img {
    height: auto;
    object-fit: contain;
    width: 240px;
    max-height: 510px;
    border-color: gold!important;
    box-sizing: border-box;
}

.list-group{
    list-style-type: none;
}

.footer{
    border-color: gold!important;
}